<h1 style='text-align: center;'><mark>Unidad 3</h1>
<h2 style='text-align: center;'><mark>Almacenamiento de datos</mark></h2>

<h3 style='text-align: center;'><mark>Integrantes:</mark></h3>
<ul>
  <li>José Luis González Ibarra #17130033</li>
  <li>Héctor Arrellano Ramírez #18130533</li>
  <li>Diego Medrano Diez #19131573</li>
</ul>
<mark>Fecha de entrega : 1 April 2022</mark>
    
    El trabajo consiste en utilizar MongoDB con Python.

1)     Instalar MongoDB

2)     Instalar PyMongo en Anaconda así como sus dependencias

3)     Desde Jupyter notebook :
<ol type="1">
  <li>Importar a mongo el archivo csv de titanic.csv (puede ser también en el cmd)</li>
  <li>Realizar consultas sencillas.</li>
  <li>Utilizar los métodos: find, sort, index, remove, upsert, update, crear una vista y desplegar</li>
  <li>Utilizar consultas más complejas con agregate</li>  
</ol>

In [1]:
#Realizamos la importación de todas las libererias necesarias para poder trabajar.
import pymongo
import pandas as pd
import numpy as np
from pymongo import MongoClient

In [2]:
mongoClient = MongoClient()
db = mongoClient.titanic

In [3]:
#Conexion a la base de datos local.
client = MongoClient("localhost",27017)

In [74]:
#Desplegamos la toda lista de base de datos 
dbs = client.list_databases()
for db in dbs:
    print(db)

{'name': 'admin', 'sizeOnDisk': 40960, 'empty': False}
{'name': 'config', 'sizeOnDisk': 118784, 'empty': False}
{'name': 'local', 'sizeOnDisk': 98304, 'empty': False}
{'name': 'titanic', 'sizeOnDisk': 327680, 'empty': False}

In [50]:
db = client['titanic']
print(db.list_collection_names())

['titanic_copy', 'titanic']

In [51]:
#Mostramos la cantidad de datos que tiene la base de datos.
collection = db['titanic']
print(collection.count_documents({}))

892

In [56]:
#Mostramos la cantidad de datos que tiene la copia de la base de datos.
titanic_copy = db['titanic_copy']
print(collection.count_documents({}))

892

<h2 style='text-align: center;'>Metodo Find</h2>

In [7]:
for registros in collection.find({}):
    print(registros)

{'_id': ObjectId('626c94762e5c29bdd6386cb0'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '22.0', 'sibsp': '1', 'parch': '0', 'fare': '7.25', 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cb1'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '38.0', 'sibsp': '1', 'parch': '0', 'fare': 150, 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'A', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cb2'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '26.0', 'sibsp': '0', 'parch': '0', 'fare': '7.925', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cb3'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '35.0', 'sibsp': '1', 'parch': '0', 'fare': '53.1', 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cb4'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '35.0', 'sibsp': '0', 'parch': '0', 'fare': '8.05', 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cb5'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'sibsp': '0', 'parch': '0', 'fare': '8.4583', 'embarked': 'Q', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Queenstown', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cb6'), 'survived': '0', 'pclass': '1', 'sex': 'male', 'age': '54.0', 'sibsp': '0', 'parch': '0', 'fare': '51.8625', 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': 'True', 'deck': 'E', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cb7'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '2.0', 'sibsp': '3', 'parch': '1', 'fare': '21.075', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cb8'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '27.0', 'sibsp': '0', 'parch': '2', 'fare': '11.1333', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cb9'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '14.0', 'sibsp': '1', 'parch': '0', 'fare': '30.0708', 'embarked': 'C', 'class': 'Second', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cba'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': 65, 'sibsp': '1', 'parch': '1', 'fare': '16.7', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'deck': 'G', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cbb'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '58.0', 'sibsp': '0', 'parch': '0', 'fare': '26.55', 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cbc'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '20.0', 'sibsp': '0', 'parch': '0', 'fare': '8.05', 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cbd'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '39.0', 'sibsp': '1', 'parch': '5', 'fare': '31.275', 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cbe'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '14.0', 'sibsp': '0', 'parch': '0', 'fare': '7.8542', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cbf'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '55.0', 'sibsp': '0', 'parch': '0', 'fare': '16.0', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cc0'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '2.0', 'sibsp': '4', 'parch': '1', 'fare': '29.125', 'embarked': 'Q', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cc1'), 'survived': '1', 'pclass': '2', 'sex': 'male', 'sibsp': '0', 'parch': '0', 'fare': '13.0', 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cc2'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '31.0', 'sibsp': '1', 'parch': '0', 'fare': '18.0', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cc3'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'sibsp': '0', 'parch': '0', 'fare': '7.225', 'embarked': 'C', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cc4'), 'survived': '0', 'pclass': '2', 'sex': 'male', 'age': '35.0', 'sibsp': '0', 'parch': '0', 'fare': '26.0', 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cc5'), 'survived': '1', 'pclass': '2', 'sex': 'male', 'age': '34.0', 'sibsp': '0', 'parch': '0', 'fare': '13.0', 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': 'True', 'deck': 'D', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cc6'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '15.0', 'sibsp': '0', 'parch': '0', 'fare': '8.0292', 'embarked': 'Q', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cc7'), 'survived': '1', 'pclass': '1', 'sex': 'male', 'age': '28.0', 'sibsp': '0', 'parch': '0', 'fare': '35.5', 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': 'True', 'deck': 'A', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cc8'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '8.0', 'sibsp': '3', 'parch': '1', 'fare': '21.075', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cc9'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '38.0', 'sibsp': '1', 'parch': '5', 'fare': '31.3875', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cca'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'sibsp': '0', 'parch': '0', 'fare': '7.225', 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386ccb'), 'survived': '0', 'pclass': '1', 'sex': 'male', 'age': '19.0', 'sibsp': '3', 'parch': '2', 'fare': '263.0', 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': 'True', 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386ccc'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'sibsp': '0', 'parch': '0', 'fare': '7.8792', 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386ccd'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'sibsp': '0', 'parch': '0', 'fare': '7.8958', 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cce'), 'survived': '0', 'pclass': '1', 'sex': 'male', 'age': '40.0', 'sibsp': '0', 'parch': '0', 'fare': '27.7208', 'embarked': 'C', 'class': 'First', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386ccf'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'sibsp': '1', 'parch': '0', 'fare': '146.5208', 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'B', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cd0'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'sibsp': '0', 'parch': '0', 'fare': '7.75', 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cd1'), 'survived': '0', 'pclass': '2', 'sex': 'male', 'age': '66.0', 'sibsp': '0', 'parch': '0', 'fare': '10.5', 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cd2'), 'survived': '0', 'pclass': '1', 'sex': 'male', 'age': '28.0', 'sibsp': '1', 'parch': '0', 'fare': '82.1708', 'embarked': 'C', 'class': 'First', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cd3'), 'survived': '0', 'pclass': '1', 'sex': 'male', 'age': '42.0', 'sibsp': '1', 'parch': '0', 'fare': '52.0', 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cd4'), 'survived': '1', 'pclass': '3', 'sex': 'male', 'sibsp': '0', 'parch': '0', 'fare': '7.2292', 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cd5'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '21.0', 'sibsp': '0', 'parch': '0', 'fare': '8.05', 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cd6'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '18.0', 'sibsp': '2', 'parch': '0', 'fare': '18.0', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cd7'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '14.0', 'sibsp': '1', 'parch': '0', 'fare': '11.2417', 'embarked': 'C', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cd8'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '40.0', 'sibsp': '1', 'parch': '0', 'fare': '9.475', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cd9'), 'survived': '0', 'pclass': '2', 'sex': 'female', 'age': '27.0', 'sibsp': '1', 'parch': '0', 'fare': '21.0', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cda'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'sibsp': '0', 'parch': '0', 'fare': '7.8958', 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cdb'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '3.0', 'sibsp': '1', 'parch': '2', 'fare': '41.5792', 'embarked': 'C', 'class': 'Second', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cdc'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '19.0', 'sibsp': '0', 'parch': '0', 'fare': '7.8792', 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cdd'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'sibsp': '0', 'parch': '0', 'fare': '8.05', 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cde'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'sibsp': '1', 'parch': '0', 'fare': '15.5', 'embarked': 'Q', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Queenstown', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cdf'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'sibsp': '0', 'parch': '0', 'fare': '7.75', 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386ce0'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'sibsp': '2', 'parch': '0', 'fare': '21.6792', 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386ce1'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '18.0', 'sibsp': '1', 'parch': '0', 'fare': '17.8', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386ce2'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '7.0', 'sibsp': '4', 'parch': '1', 'fare': '39.6875', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386ce3'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '21.0', 'sibsp': '0', 'parch': '0', 'fare': '7.8', 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386ce4'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '49.0', 'sibsp': '1', 'parch': '0', 'fare': '76.7292', 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'D', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386ce5'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '29.0', 'sibsp': '1', 'parch': '0', 'fare': '26.0', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386ce6'), 'survived': '0', 'pclass': '1', 'sex': 'male', 'age': '65.0', 'sibsp': '0', 'parch': '1', 'fare': '61.9792', 'embarked': 'C', 'class': 'First', 'who': 'man', 'adult_male': 'True', 'deck': 'B', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386ce7'), 'survived': '1', 'pclass': '1', 'sex': 'male', 'sibsp': '0', 'parch': '0', 'fare': '35.5', 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': 'True', 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386ce8'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '21.0', 'sibsp': '0', 'parch': '0', 'fare': '10.5', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386ce9'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '28.5', 'sibsp': '0', 'parch': '0', 'fare': '7.2292', 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cea'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '5.0', 'sibsp': '1', 'parch': '2', 'fare': '27.75', 'embarked': 'S', 'class': 'Second', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386ceb'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '11.0', 'sibsp': '5', 'parch': '2', 'fare': '46.9', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cec'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '22.0', 'sibsp': '0', 'parch': '0', 'fare': '7.2292', 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386ced'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '38.0', 'sibsp': '0', 'parch': '0', 'fare': '80.0', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'B', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cee'), 'survived': '0', 'pclass': '1', 'sex': 'male', 'age': '45.0', 'sibsp': '1', 'parch': '0', 'fare': '83.475', 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': 'True', 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cef'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '4.0', 'sibsp': '3', 'parch': '2', 'fare': '27.9', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cf0'), 'survived': '0', 'pclass': '1', 'sex': 'male', 'sibsp': '0', 'parch': '0', 'fare': '27.7208', 'embarked': 'C', 'class': 'First', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cf1'), 'survived': '1', 'pclass': '3', 'sex': 'male', 'sibsp': '1', 'parch': '1', 'fare': '15.2458', 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626c94762e5c29bdd6386cf2'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '29.0', 'sibsp': '0', 'parch': '0', 'fare': '10.5', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'deck': 'F', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cf3'), 'survived': '0', 'pclass': '3', 'sex': 'male', 'age': '19.0', 'sibsp': '0', 'parch': '0', 'fare': '8.1583', 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': 'True', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626c94762e5c29bdd6386cf4'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '17.0', 'sibsp': '4', 'parch': '2', 'fare': '7.925', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}

<h2 style='text-align: center;'>Creamos el dataframe de nuestra base de datos</h2>

In [8]:
df = pd.DataFrame(list(collection.find()))

In [9]:
df

,_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone,deck
0,626c94762e5c29bdd6386cb0,0,3,male,22.0,1,0,7.25,S,First,man,True,Southampton,no,False,NaN
1,626c94762e5c29bdd6386cb1,1,1,female,38.0,1,0,150,C,First,woman,False,Cherbourg,yes,False,A
2,626c94762e5c29bdd6386cb2,1,3,female,26.0,0,0,7.925,S,Third,woman,False,Southampton,yes,True,NaN
3,626c94762e5c29bdd6386cb3,1,1,female,35.0,1,0,53.1,S,First,woman,False,Southampton,yes,False,C
4,626c94762e5c29bdd6386cb4,0,3,male,35.0,0,0,8.05,S,Third,man,True,Southampton,no,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,626c94762e5c29bdd6387027,1,1,female,19.0,0,0,30.0,S,First,woman,False,Southampton,yes,True,B
888,626c94762e5c29bdd6387028,0,3,female,NaN,1,2,23.45,S,Third,woman,False,Southampton,no,False,NaN
889,626c94762e5c29bdd6387029,1,1,male,26.0,0,0,30.0,C,First,man,True,Cherbourg,yes,True,C
890,626c94762e5c29bdd638702a,0,3,male,32.0,0,0,7.75,Q,Third,man,True,Queenstown,no,True,NaN
891,626c94762e5c29bdd6386cb0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,First,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Mostramos todo los sobrevivieron.
df3 = pd.DataFrame(list(collection.find({"survived":"1"})))

In [11]:
df3

,_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,626c94762e5c29bdd6386cb1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
1,626c94762e5c29bdd6386cb2,1,3,female,26.0,0,0,7.925,S,Third,woman,False,NaN,Southampton,yes,True
2,626c94762e5c29bdd6386cb3,1,1,female,35.0,1,0,53.1,S,First,woman,False,C,Southampton,yes,False
3,626c94762e5c29bdd6386cb8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
4,626c94762e5c29bdd6386cb9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,626c94762e5c29bdd638701b,1,3,female,15.0,0,0,7.225,C,Third,child,False,NaN,Cherbourg,yes,True
338,626c94762e5c29bdd638701f,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
339,626c94762e5c29bdd6387020,1,2,female,25.0,0,1,26.0,S,Second,woman,False,NaN,Southampton,yes,False
340,626c94762e5c29bdd6387027,1,1,female,19.0,0,0,30.0,S,First,woman,False,B,Southampton,yes,True
341,626c94762e5c29bdd6387029,1,1,male,26.0,0,0,30.0,C,First,man,True,C,Cherbourg,yes,True

In [52]:
#Mostramos todas las mujeres.
df4 = pd.DataFrame(list(collection.find({"sex":"female"})))

In [53]:
df4

,_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,626c94762e5c29bdd6386cb1,1,1,female,38.0,1,0,150,C,First,woman,False,A,Cherbourg,yes,False
1,626c94762e5c29bdd6386cb2,1,3,female,26.0,0,0,7.925,S,Third,woman,False,NaN,Southampton,yes,True
2,626c94762e5c29bdd6386cb3,1,1,female,35.0,1,0,53.1,S,First,woman,False,C,Southampton,yes,False
3,626c94762e5c29bdd6386cb8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
4,626c94762e5c29bdd6386cb9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,626c94762e5c29bdd6387020,1,2,female,25.0,0,1,26.0,S,Second,woman,False,NaN,Southampton,yes,False
310,626c94762e5c29bdd6387022,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
311,626c94762e5c29bdd6387025,0,3,female,39.0,0,5,29.125,Q,Third,woman,False,NaN,Queenstown,no,False
312,626c94762e5c29bdd6387027,1,1,female,19.0,0,0,30.0,S,First,woman,False,B,Southampton,yes,True
313,626c94762e5c29bdd6387028,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False

<h2 style='text-align: center;'>Creamos el dataframe usando SORT de nuestra base de datos</h2>

In [12]:
#El parametro 1 es ascendente y el -1 descendent
df1 = pd.DataFrame(list(collection.find().sort("fare",1)))

In [13]:
df1

,_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone,deck
0,626c94762e5c29bdd6386d63,0,3,male,36.0,0,0,0.0,S,Third,man,True,Southampton,no,True,NaN
1,626c94762e5c29bdd6386db7,0,1,male,40.0,0,0,0.0,S,First,man,True,Southampton,no,True,B
2,626c94762e5c29bdd6386dbf,1,3,male,25.0,0,0,0.0,S,Third,man,True,Southampton,yes,True,NaN
3,626c94762e5c29bdd6386dc5,0,2,male,NaN,0,0,0.0,S,Second,man,True,Southampton,no,True,NaN
4,626c94762e5c29bdd6386dde,0,3,male,19.0,0,0,0.0,S,Third,man,True,Southampton,no,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,626c94762e5c29bdd6386e96,1,1,female,35.0,1,0,90.0,S,First,woman,False,Southampton,yes,False,C
887,626c94762e5c29bdd6386dd3,1,1,female,19.0,1,0,91.0792,C,First,woman,False,Cherbourg,yes,False,B
888,626c94762e5c29bdd6386e94,1,1,male,25.0,1,0,91.0792,C,First,man,True,Cherbourg,yes,False,B
889,626c94762e5c29bdd6386eb8,1,1,female,30.0,0,0,93.5,S,First,woman,False,Southampton,yes,True,B
890,626c94762e5c29bdd6386fe4,1,1,female,52.0,1,1,93.5,S,First,woman,False,Southampton,yes,False,B

In [14]:
df2 = pd.DataFrame(list(collection.find().sort("fare",-1)))

In [15]:
df2

,_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,626c94762e5c29bdd6386eb8,1,1,female,30.0,0,0,93.5,S,First,woman,False,B,Southampton,yes,True
1,626c94762e5c29bdd6386fe4,1,1,female,52.0,1,1,93.5,S,First,woman,False,B,Southampton,yes,False
2,626c94762e5c29bdd6386dd3,1,1,female,19.0,1,0,91.0792,C,First,woman,False,B,Cherbourg,yes,False
3,626c94762e5c29bdd6386e94,1,1,male,25.0,1,0,91.0792,C,First,man,True,B,Cherbourg,yes,False
4,626c94762e5c29bdd6386d90,1,1,male,38.0,1,0,90.0,S,First,man,True,C,Southampton,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,626c94762e5c29bdd6386f52,0,2,male,NaN,0,0,0.0,S,Second,man,True,NaN,Southampton,no,True
887,626c94762e5c29bdd6386f8c,0,2,male,NaN,0,0,0.0,S,Second,man,True,NaN,Southampton,no,True
888,626c94762e5c29bdd6386fd6,0,1,male,39.0,0,0,0.0,S,First,man,True,A,Southampton,no,True
889,626c94762e5c29bdd6386fdf,0,1,male,NaN,0,0,0.0,S,First,man,True,B,Southampton,no,True
890,626c94762e5c29bdd6386fe6,0,1,male,38.0,0,0,0.0,S,First,man,True,NaN,Southampton,no,True

<h2 style='text-align: center;'>Creamos el dataframe usando INDEX de nuestra base de datos</h2>

In [56]:
db.indexPymongo.create_index('_id')

'_id_1'

In [63]:
db.titanic.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)]},
 'emarked_-1': {'v': 2, 'key': [('emarked', -1)]},
 'alone_1': {'v': 2, 'key': [('alone', 1)]}}

In [60]:
from pymongo import IndexModel, ASCENDING, DESCENDING
index1 = IndexModel([("emarked", DESCENDING)])
index2 = IndexModel([("alone",ASCENDING)])

collection.create_indexes([index1,index2])

['emarked_-1', 'alone_1']

In [62]:
#Mostramos los index agregados que tenemos.
db.titanic.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)]},
 'emarked_-1': {'v': 2, 'key': [('emarked', -1)]},
 'alone_1': {'v': 2, 'key': [('alone', 1)]}}

<h2 style='text-align: center;'>Creamos el dataframe usando REMOVE de nuestra base de datos</h2>

In [78]:
#Eliminar todos los documentos donde el sexo sea Hombre(Male):
myquery = { "sex": "male" }
titanic_copy.delete_many(myquery)

In [79]:
#Mostramos los registros
for registros in titanic_copy.find({}):
    print(registros)

{'_id': ObjectId('626f39f3f59848e65e78d1cd'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '38.0', 'sibsp': '1', 'parch': '0', 'fare': '71.2833', 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'C', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1ce'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '26.0', 'sibsp': '0', 'parch': '0', 'fare': '7.925', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d1cf'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '35.0', 'sibsp': '1', 'parch': '0', 'fare': '53.1', 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1d4'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '27.0', 'sibsp': '0', 'parch': '2', 'fare': '11.1333', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1d5'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '14.0', 'sibsp': '1', 'parch': '0', 'fare': '30.0708', 'embarked': 'C', 'class': 'Second', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1d6'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '4.0', 'sibsp': '1', 'parch': '1', 'fare': '16.7', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'deck': 'G', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1d7'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '58.0', 'sibsp': '0', 'parch': '0', 'fare': '26.55', 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d1da'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '14.0', 'sibsp': '0', 'parch': '0', 'fare': '7.8542', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d1db'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '55.0', 'sibsp': '0', 'parch': '0', 'fare': '16.0', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d1de'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '31.0', 'sibsp': '1', 'parch': '0', 'fare': '18.0', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1df'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'sibsp': '0', 'parch': '0', 'fare': '7.225', 'embarked': 'C', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d1e2'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '15.0', 'sibsp': '0', 'parch': '0', 'fare': '8.0292', 'embarked': 'Q', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d1e4'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '8.0', 'sibsp': '3', 'parch': '1', 'fare': '21.075', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1e5'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '38.0', 'sibsp': '1', 'parch': '5', 'fare': '31.3875', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1e8'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'sibsp': '0', 'parch': '0', 'fare': '7.8792', 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d1eb'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'sibsp': '1', 'parch': '0', 'fare': '146.5208', 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'B', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1ec'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'sibsp': '0', 'parch': '0', 'fare': '7.75', 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d1f2'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '18.0', 'sibsp': '2', 'parch': '0', 'fare': '18.0', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1f3'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '14.0', 'sibsp': '1', 'parch': '0', 'fare': '11.2417', 'embarked': 'C', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1f4'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '40.0', 'sibsp': '1', 'parch': '0', 'fare': '9.475', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1f5'), 'survived': '0', 'pclass': '2', 'sex': 'female', 'age': '27.0', 'sibsp': '1', 'parch': '0', 'fare': '21.0', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1f7'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '3.0', 'sibsp': '1', 'parch': '2', 'fare': '41.5792', 'embarked': 'C', 'class': 'Second', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d1f8'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '19.0', 'sibsp': '0', 'parch': '0', 'fare': '7.8792', 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d1fb'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'sibsp': '0', 'parch': '0', 'fare': '7.75', 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d1fd'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '18.0', 'sibsp': '1', 'parch': '0', 'fare': '17.8', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d200'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '49.0', 'sibsp': '1', 'parch': '0', 'fare': '76.7292', 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'D', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d201'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '29.0', 'sibsp': '1', 'parch': '0', 'fare': '26.0', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d204'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '21.0', 'sibsp': '0', 'parch': '0', 'fare': '10.5', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d206'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '5.0', 'sibsp': '1', 'parch': '2', 'fare': '27.75', 'embarked': 'S', 'class': 'Second', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d209'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '38.0', 'sibsp': '0', 'parch': '0', 'fare': '80.0', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'B', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d20e'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '29.0', 'sibsp': '0', 'parch': '0', 'fare': '10.5', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'deck': 'F', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d210'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '17.0', 'sibsp': '4', 'parch': '2', 'fare': '7.925', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d213'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '16.0', 'sibsp': '5', 'parch': '2', 'fare': '46.9', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d21b'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '30.0', 'sibsp': '0', 'parch': '0', 'fare': '12.475', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d21e'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'sibsp': '0', 'parch': '0', 'fare': '7.7875', 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d220'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '17.0', 'sibsp': '0', 'parch': '0', 'fare': '10.5', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d221'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '33.0', 'sibsp': '3', 'parch': '0', 'fare': '15.85', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d224'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '23.0', 'sibsp': '3', 'parch': '2', 'fare': '263.0', 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d22e'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '34.0', 'sibsp': '0', 'parch': '1', 'fare': '23.0', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d230'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '28.0', 'sibsp': '0', 'parch': '0', 'fare': '7.8958', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d236'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '21.0', 'sibsp': '0', 'parch': '0', 'fare': '7.65', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d239'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'sibsp': '1', 'parch': '0', 'fare': '24.15', 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d23b'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '14.5', 'sibsp': '1', 'parch': '0', 'fare': '14.4542', 'embarked': 'C', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d23d'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '20.0', 'sibsp': '1', 'parch': '0', 'fare': '9.825', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d23e'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '17.0', 'sibsp': '0', 'parch': '0', 'fare': '14.4583', 'embarked': 'C', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d243'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '2.0', 'sibsp': '4', 'parch': '2', 'fare': '31.275', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d247'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '32.5', 'sibsp': '0', 'parch': '0', 'fare': '13.0', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'deck': 'E', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d24c'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'sibsp': '1', 'parch': '1', 'fare': '22.3583', 'embarked': 'C', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'deck': 'F', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d250'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '47.0', 'sibsp': '1', 'parch': '0', 'fare': '14.5', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d251'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '29.0', 'sibsp': '1', 'parch': '0', 'fare': '26.0', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d254'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '19.0', 'sibsp': '0', 'parch': '2', 'fare': '26.2833', 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'D', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d258'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'sibsp': '0', 'parch': '2', 'fare': '15.2458', 'embarked': 'C', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d259'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '22.0', 'sibsp': '0', 'parch': '0', 'fare': '7.75', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d25a'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '24.0', 'sibsp': '1', 'parch': '0', 'fare': '15.85', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d25f'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '9.0', 'sibsp': '2', 'parch': '2', 'fare': '34.375', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d263'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '22.0', 'sibsp': '1', 'parch': '0', 'fare': '66.6', 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d268'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '16.0', 'sibsp': '0', 'parch': '0', 'fare': '7.7333', 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d26d'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '40.0', 'sibsp': '0', 'parch': '0', 'fare': '15.75', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d272'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'sibsp': '0', 'parch': '1', 'fare': '55.0', 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'E', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d273'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'age': '45.0', 'sibsp': '1', 'parch': '4', 'fare': '27.9', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d278'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '1.0', 'sibsp': '1', 'parch': '1', 'fare': '11.1333', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d27d'), 'survived': '0', 'pclass': '1', 'sex': 'female', 'age': '50.0', 'sibsp': '0', 'parch': '0', 'fare': '28.7125', 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'C', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d280'), 'survived': '0', 'pclass': '3', 'sex': 'female', 'sibsp': '8', 'parch': '2', 'fare': '69.55', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'no', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d284'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '4.0', 'sibsp': '0', 'parch': '2', 'fare': '22.025', 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d286'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'sibsp': '1', 'parch': '0', 'fare': '15.5', 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d28a'), 'survived': '1', 'pclass': '2', 'sex': 'female', 'age': '32.0', 'sibsp': '0', 'parch': '0', 'fare': '13.0', 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'True'}
{'_id': ObjectId('626f39f3f59848e65e78d28c'), 'survived': '1', 'pclass': '3', 'sex': 'female', 'age': '19.0', 'sibsp': '1', 'parch': '0', 'fare': '7.8542', 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': 'False', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': 'False'}
{'_id': ObjectId('626f39f3f59848e65e78d28e'), 'survived': '1', 'pclass': '1', 'sex': 'female', 'age': '44.0', 'sibsp': '0', 'parch': '0', 'fare': '27.7208', 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': 'False', 'deck': 'B', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': 'True'}

In [81]:
#Creamos DataFrame para que se vea mas bonito.
df4 = pd.DataFrame(list(titanic_copy.find()))
df4

,_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,626f39f3f59848e65e78d1cd,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
1,626f39f3f59848e65e78d1ce,1,3,female,26.0,0,0,7.925,S,Third,woman,False,NaN,Southampton,yes,True
2,626f39f3f59848e65e78d1cf,1,1,female,35.0,1,0,53.1,S,First,woman,False,C,Southampton,yes,False
3,626f39f3f59848e65e78d1d4,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
4,626f39f3f59848e65e78d1d5,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,626f39f3f59848e65e78d53c,1,2,female,25.0,0,1,26.0,S,Second,woman,False,NaN,Southampton,yes,False
310,626f39f3f59848e65e78d53e,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
311,626f39f3f59848e65e78d541,0,3,female,39.0,0,5,29.125,Q,Third,woman,False,NaN,Queenstown,no,False
312,626f39f3f59848e65e78d543,1,1,female,19.0,0,0,30.0,S,First,woman,False,B,Southampton,yes,True
313,626f39f3f59848e65e78d544,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False

In [82]:
#Eliminamos un solo registro el fare sea de 150.
query = {"fare":150}
titanic_copy.delete_one(query)

In [84]:
#Creamos un DataFrame
df = pd.DataFrame(list(titanic_copy.find({"fare":150})))

In [85]:
#Mostramos el DataFrame pero no muestra nada.
df

Empty DataFrame
Columns: []
Index: []

In [86]:
#En esta consulta se eliminan todos los sobrevivinetes de Queenstown.
query ={"embark_town":"Queenstown",
        "survived" : 1
        }
titanic_copy.delete_many(query)

In [87]:
#Creamos un dataframe con datos para poderlo mostrar.
df = pd.DataFrame(list(titanic_copy.find({}).sort("survive",1)))
df

,_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,626f39f3f59848e65e78d1cd,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
1,626f39f3f59848e65e78d1ce,1,3,female,26.0,0,0,7.925,S,Third,woman,False,NaN,Southampton,yes,True
2,626f39f3f59848e65e78d1cf,1,1,female,35.0,1,0,53.1,S,First,woman,False,C,Southampton,yes,False
3,626f39f3f59848e65e78d1d4,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
4,626f39f3f59848e65e78d1d5,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,626f39f3f59848e65e78d53c,1,2,female,25.0,0,1,26.0,S,Second,woman,False,NaN,Southampton,yes,False
310,626f39f3f59848e65e78d53e,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
311,626f39f3f59848e65e78d541,0,3,female,39.0,0,5,29.125,Q,Third,woman,False,NaN,Queenstown,no,False
312,626f39f3f59848e65e78d543,1,1,female,19.0,0,0,30.0,S,First,woman,False,B,Southampton,yes,True
313,626f39f3f59848e65e78d544,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False

<h2 style='text-align: center;'>Usamos UPDATE & UPSERT  de nuestra base de datos</h2>

In [41]:
#Este sirve para poder utilizar los ids de la base de datos.
from bson.objectid import ObjectId

In [46]:
""" 
Upsert es la combinación realiza dos funciones que son update e insert a la tabla.Tambien recordar 
para buscar un id especifico usamos el ObjectId.
""""
collection.find_one_and_update(
{"_id":ObjectId ('626c94762e5c29bdd6386cb0')},
    {
    "$set":{
        "class":"First"
        }
    },
    upsert=True
)

{'_id': ObjectId('626c94762e5c29bdd6386cb0'),
 'survived': '0',
 'pclass': '3',
 'sex': 'male',
 'age': '22.0',
 'sibsp': '1',
 'parch': '0',
 'fare': '7.25',
 'embarked': 'S',
 'class': 'First',
 'who': 'man',
 'adult_male': 'True',
 'embark_town': 'Southampton',
 'alive': 'no',
 'alone': 'False'}

In [48]:
collection.find_one_and_update(
{"_id":ObjectId ('626c94762e5c29bdd6386cb1')},
    {
    "$set":{
        "fare":150,
        "deck":"A"
        }
    },
    upsert=True
)

{'_id': ObjectId('626c94762e5c29bdd6386cb1'),
 'survived': '1',
 'pclass': '1',
 'sex': 'female',
 'age': '38.0',
 'sibsp': '1',
 'parch': '0',
 'fare': 150,
 'embarked': 'C',
 'class': 'First',
 'who': 'woman',
 'adult_male': 'False',
 'deck': 'A',
 'embark_town': 'Cherbourg',
 'alive': 'yes',
 'alone': 'False'}

In [51]:
collection.find_one_and_update(
{"_id":ObjectId ('626c94762e5c29bdd6386cba')},
    {
    "$set":{
        "age": 65,
        "embark_town":"Cherbourg",
        "alive":"no"
        }
    },
    upsert=True
)

{'_id': ObjectId('626c94762e5c29bdd6386cba'),
 'survived': '1',
 'pclass': '3',
 'sex': 'female',
 'age': 65,
 'sibsp': '1',
 'parch': '1',
 'fare': '16.7',
 'embarked': 'S',
 'class': 'Third',
 'who': 'child',
 'adult_male': 'False',
 'deck': 'G',
 'embark_town': 'Cherbourg',
 'alive': 'no',
 'alone': 'False'}

<h2 style='text-align: center;'>Creamos VISTAS para la base de datos</h2>

In [83]:
#Con el siguiente aggregate mostramos a los que sobrevivieron y si quedaron solo o no
resultado = db.titanic.aggregate(
[
    {"$group":
        { "_id":{"survived":"$survived",
        "alone": "$alone"},
        "num_surv": {"$sum":1}
        }
    }
]
)

for i in resultado:
    print(i)

{'_id': {}, 'num_surv': 1}
{'_id': {'survived': '0', 'alone': 'False'}, 'num_surv': 175}
{'_id': {'survived': '0', 'alone': 'True'}, 'num_surv': 374}
{'_id': {'survived': '1', 'alone': 'True'}, 'num_surv': 163}
{'_id': {'survived': '1', 'alone': 'False'}, 'num_surv': 179}

In [87]:
#Agrupamos por los que estan vivos.
resultado = db.titanic.aggregate(
[
    {"$group":
        { "_id":{"alive":"$alive",
        },
        "num_alive": {"$sum":1}
        }
    }
]
)

for i in resultado:
    print(i)

{'_id': {'alive': None}, 'num_alive': 1}
{'_id': {'alive': 'yes'}, 'num_alive': 341}
{'_id': {'alive': 'no'}, 'num_alive': 550}

In [88]:
#Agrupamos los supervivientes por clase
resultado = db.titanic.aggregate(
[
    {"$group":
        { "_id":{"survived":"$survived",
        "class": "$class"},
        "num_surv": {"$sum":1}
        }
    }
]
)

for i in resultado:
    print(i)

{'_id': {'survived': '0', 'class': 'First'}, 'num_surv': 81}
{'_id': {'survived': '1', 'class': 'Second'}, 'num_surv': 87}
{'_id': {'class': 'First'}, 'num_surv': 1}
{'_id': {'survived': '0', 'class': 'Third'}, 'num_surv': 371}
{'_id': {'survived': '1', 'class': 'Third'}, 'num_surv': 119}
{'_id': {'survived': '1', 'class': 'First'}, 'num_surv': 136}
{'_id': {'survived': '0', 'class': 'Second'}, 'num_surv': 97}